
.albumCard{
  
 
 
    img{
    text-align: center;
     justify-content: center;
     align-items: center;
     height: 300px;
     
     
     }
 
     li{
         
         width: 400px;
         height: 500px;
     }
     
     
     p{
     margin-bottom: 40px;
     font-size: 30px;
 }
 
 }
