.albumbutton {
  padding-top: 50px;
  text-align: center;

  .buttonAlbum {
    cursor: pointer;
    font-family: 'Courgette', cursive;
    font-size: 2em;
    height: 15vh;
    width: 50vh;
    border-radius: 20px;
    background-color: var(--color-bg-);
    color: var(--color-bg-variant);
    transition: 0.15s;

    &:hover {
      transform: scale(1.25);
    }

    &:active {
      transform: scale(2.15);
    }


  }


}