.albumbutton{
    padding-top: 50px;
    text-align: center;
     
    .buttonAlbum{

        font-family: 'Courgette', cursive;  
        font-size: 2em;   
        height: 10vh;
        width: 40vh;
        border-radius: 20px;
        background-color: var(--color-bg-);
        color: var(--color-primary-variant);
        transition: 0.15s;
   &:hover {
     transform: scale(1.05);
   }
 
   &:active {
     transform: scale(1.15);
   }


    }
    

}


