* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

:root {
    --color-bg-: #264653;
    --color-bg-variant: #2A9D8F;
    --color-primary: #E9C46A;
    --color-primary-variant: #F4A261;
    --color-secondary: #E76F51;

}

body,
html {
    background-color: var(--color-bg-variant);
    height: 100%;
}