.homePage{
    height: 100vh;
    width: 100wh;
}
.titrePage{
    padding-bottom: 3vh;
    display: flex;
    text-align:left;
    margin-left: 4vh; 
    font-size:8vh;
    color: var(--color-bg-);
    font-family: var(--);
}

h2{
  margin-left: 20vh;
}
.imagegrandmere{
    height: 30vh;
    position: absolute;
    top: 20%;
    right: 5%;
    z-index: 4;
    transition: 0.3s;
    &:hover {
      transform: scale(1.02);
    }
  
    &:active {
      transform: scale(1.04);

    }


}
.imageterre{
    height: 13vh;
   padding-right: 5vh;
   transition: 0.15s;
   &:hover {
     transform: scale(1.05);
   }
 
   &:active {
     transform: scale(1.15);
   }

}




