@import "./global.scss";
@import "./album.scss";
@import "./carrousel.scss";
@import "./createalbum.scss";
@import "./footer.scss";
@import "./homepage.scss";
@import "./navbar.scss";
@import "./team.scss";
@import "./contact.scss";
@import "./buttonAlbum.scss";
@import "./albumCards.scss";



@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Pacifico&family=Poppins:wght@300;400;500;600&display=swap');