nav {
    display: flex;
    justify-content: end;
    
    

}
.navy-container{
    display: flex;
    justify-content: space-between;
  

}

.nav-container-ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    margin-top: 15px;
    margin-right: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 1px solid transparent;
    border-radius: 30px;
    width: 100%;
    gap:20px
    

}

.nav-container-li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav a,
p {
    text-align: center;
    color: var(--color-bg-);
    
    
}

.primary-btn:hover {
    border-radius: 50%;
    background-color: var(--color-bg);
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.25s;
    transform: scale(1.2);
    
    
}

.primary-btn:active {
   
}