@import "./styles/global.scss";
@import "./styles/album.scss";
@import "./styles/carrousel.scss";
@import "./styles/createalbum.scss";
@import "./styles/footer.scss";
@import "./styles/homepage.scss";
@import "./styles/navbar.scss";
@import "./styles/team.scss";
@import "./styles/contact.scss";


@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
